#main{
    width : 200px;
    height: auto;
    border-radius: 100px;
    
}

.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:aliceblue
    
  
}

.full{
    background-image: url(a1.png);
    background-size: cover;
    min-height: 100vh;
}

.bottombar a{
   
    font-size:20px;
    text-decoration: none;
    color:black;
    margin :20px;
    width :15px;
    height:15px;
    background-color: lightgray;
    padding: 5px;
    

}
.bottombar{
    display: flex;
    background-color: ghostwhite;
    text-align: left;
    justify-content: space-evenly;
    margin-top: 100px;
    padding:10px;
    margin-bottom: 0;

}
