@keyframes rotate{

    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform:rotate(180deg);
    }
    20%, 80% {
        transform :rotate(360deg);
    }
}        

.rotate{
    text-align: center;
    font-size: 100px;
    position: relative;
    margin-top: 200px;
    animation:rotate 5s ease-in-out 0s 3;
}
